@model TabPaper.ViewModels.TabViewModel

<style>


    #div1 {
    }

    }

    #div2 {
        height: 20px;
        width: 20px;
        margin: 3px;
        padding: 3px;
        border: 1px dotted #333333;
    }

    #newId {
    }

    #BinDiv {
        height: 40px;
        width: 100%;
        border: 3px double #0026ff;
    }
</style>
<script>




    var i = localStorage.length;
    
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {

        ev.dataTransfer.setData("text", ev.target.id);

    }


    var IguessUbb = [];



function copy(ev, num, num2, num3, num4, num5) {
        var data = ev.dataTransfer.getData("text");
        var SPdata;
        var Pdata;
        var DataVar = [];
        DataVar += data;
        var nodeCopy = document.getElementById(data).cloneNode(true);


        if (DataVar[5] == ":") {
            var ValueCnt;
            var value = [];
            for (ValueCnt = 4; ValueCnt < 5; ValueCnt++) {
                value += DataVar[ValueCnt];
            }

            nodeCopy.id = "drag" + value + ":" + num + ":" + num2 + ":" + num3 + ":" + num4 + ":" + num5 + ";";
            ev.target.appendChild(nodeCopy);
            var splicedData = [];


            IguessUbb += [nodeCopy.id];

            Pdata = [value, num, num2, num3, num4, num5];
            localStorage.setItem(i, Pdata);

            i = localStorage.length;
            @*var hold;document.getElementById("result").innerHTML += localStorage[i];
            for (hold = 0; hold < localStorage.length;) {

            }*@
        }
        else if (DataVar[6] == ":") {
            var ValueCnt;
            var value = [];
            for (ValueCnt = 4; ValueCnt < 6; ValueCnt++) {
                value += DataVar[ValueCnt];
            }
            nodeCopy.id = "drag" + value + ":" + num + ":" + num2 + ":" + num3 + ":" + num4 + ":" + num5 + ";";
            ev.target.appendChild(nodeCopy);

            IguessUbb += [nodeCopy.id];

            Pdata = [value, num, num2, num3, num4, num5];
            localStorage.setItem(i, Pdata);

            i = localStorage.length;
            @*var hold;document.getElementById("result").innerHTML += localStorage[i];
            for (hold = 0; hold < localStorage.length;) {

            }*@
        }
        else {
            var ValueCnt;
            var value = [];
            for (ValueCnt = 4; ValueCnt < DataVar.length ; ValueCnt++) {
                value += DataVar[ValueCnt];
            }
             nodeCopy.id = data + ":" + num + ":" + num2 + ":" + num3 + ":" + num4 + ":" + num5 + ";";
             ev.target.appendChild(nodeCopy);

             IguessUbb += [nodeCopy.id];

            Pdata = [value, num, num2, num3, num4, num5];
            localStorage.setItem(i, Pdata);


            i = localStorage.length;
            
        }
        
    }
    function start() {
        var h;
        var elemnt;
        var splt;
        var ctml = [];
        var lngth = localStorage.length;
        for (h = 0; h < lngth; h += 1) {
            if (typeof localStorage[h] !== 'undefined') {
                splt = localStorage[h].split(',');
                if (splt[4] == @ViewBag.idnum) { 
                    if (splt[5] == @ViewBag.pg) {

                        elemnt = "div" + splt[1] + ";" + splt[2] + ";" + splt[3];
                        ctml = `<img id="drag` + splt[0] + `:` + splt[1] + `:` + splt[2] + `:` + splt[3] + `:` + splt[4] + `:` + splt[5] + `;" src="/Content/Images/Int_Square_Blank(` + splt[0] + `).png" style="float:left" 
                height="20px" width="20px" draggable="true" ondragstart="drag(event)" dropzone="BinDiv">`;
                        
                        document.getElementById(elemnt).innerHTML = ctml;
                        
                    }
                }
            }
            else if (typeof localStorage[h] === 'undefined') { lngth += 1; }
        }
        
        
    }
    function drop(ev) {
       
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        document.getElementById(data).parentNode.removeChild(document.getElementById(data));
        var use = data;
        var VlueCnt;
        var vlue = [];
        for (VlueCnt = 4; VlueCnt < use.length - 1; VlueCnt++) {
            vlue += use[VlueCnt];
        }
        var pass = vlue.split(':');
        
        var vble;
        for (vble = 0; vble < localStorage.length; vble++) {
            if ((localStorage[vble] == pass) === true) {
                localStorage.removeItem(vble);
                document.getElementById("result").innerHTML = localStorage.length;
            }
            else { document.getElementById("result").innerHTML = document.getElementById("result").innerHTML = localStorage.length; }

        }
        

    }
  
    function cleared() {
        localStorage.clear();
        i = localStorage.length;
        document.getElementById("result").innerHTML = localStorage.length;
        
    }
    
</script>

<body onload="start()">

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li><a href="@("LoadMusicPaper?id=" + (ViewBag.pg + 1) + "&page=1")">New Composition</a></li>


        </ul>
    </div>
<h2>@ViewBag.Title</h2>




@for (int line = 0; line < 8; line++)
{
    <div id="div2">
        @for (int strinG = 0; strinG < 7; strinG++)
        {

            <div style="clear:left; background-image:url('/Content/Images/TbPpr.png')">
                
                <p style="float:left">
                    <b>@(strinG + 1) :</b>
                </p>
                <p style="float:left">@ViewBag.range[strinG]</p>
                <p style="float:left">|</p>
                @for (int fret = 0; fret < 23; fret++)
                {
                    
                    <p style="float:left">&#8213</p>

                    <div style="float:left;
height: 20px;
        width: 20px;
        margin: 3px;
        padding: 3px;
        border: 1px dotted #333333;" id="@("div" +  fret + ";" + strinG + ";" + line)" ondrop="copy(event, @fret, @strinG, @line, @ViewBag.idnum, @ViewBag.pg)" ondragover="allowDrop(event)">

                    </div>


                    <p style="float:left">|</p>


                }
            </div>


        }
        <div style="clear:left" ondragover="allowDrop(event)" ondrop="delete (event)">
            

            @for (int t = 0; t < 33; t++)
            {

                <img id="@("drag" + t.ToString())" src="/Content/Images/Int_Square_Blank(@t).png" style="float:left" height="20px" width="20px" draggable="true" ondragstart="drag(event)" dropzone="BinDiv">
                <b style="float:left"> | </b>

            }
        </div>
        <div id="BinDiv" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

    </div>
}


<form method="post" style="float:right">
    <div class="form-group">
        @{
            int id = ViewBag.idnum;@*For loop, then fill in the page.*@
            int holder = new int();
            List<SelectListItem> listItems = new List<SelectListItem>();
            holder = 1;
            if (holder == ViewBag.pg) {
                listItems.Add(new SelectListItem
                {
                    Text = "1",
                    Value = id + ":1",
                    Selected = true

                });
            }
            else
            {
                listItems.Add(new SelectListItem
                {
                    Text = "1",
                    Value = id + ":1"


                });
            }
            holder += 1;
            if (holder == ViewBag.pg)
            {
                listItems.Add(new SelectListItem
                {
                    Text = "2",
                    Value = id + ":2",
                    Selected = true

                });
            }
            else
            {
                listItems.Add(new SelectListItem
                {
                    Text = "2",
                    Value = id + ":2"


                });
            }
            holder += 1;
            if (holder == ViewBag.pg)
            {
                listItems.Add(new SelectListItem
                {
                    Text = "3",
                    Value = id + ":3",
                    Selected = true

                });
            }
            else
            {
                listItems.Add(new SelectListItem
                {
                    Text = "3",
                    Value = id + ":3"


                });
            }
        }

        @Html.DropDownList("PageId", listItems, new { @class = "form-control" })
    </div>

    <button type="submit">Submit</button>
</form>

<div id="result"></div>
    </body>